.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
}

.col1 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .75em;
    font-size: 1.5em;
    color: white;
    align-items: center;
}

.col1 label {
    text-align: right;
}

.col2 {
    display: grid;
}
