<div class="outer">
    <div class="container">
        <img src="/assets/images/ninja.png" class="ninja">
        <div class="area">
            <div class="title">
                <h1>NASIC Developer Lair</h1>
                <h2>A place for coding ninjas to build amazing things</h2>
            </div>
            <div class="buttons">
                <button class="btn btn-primary" routerLink="/home">Log In</button>
                <button class="btn btn-primary">Create Account</button>
            </div>
        </div>
        <img class="logo" src="/assets/images/nasic.png">
    </div>
</div>