.tool {
    display: grid;
    gap: 1em;
    align-content: start;
    justify-items: center;
    padding: 1em;
    border-radius: 10px;
}
.tool:hover {
    background: rgba(140,140,140, .4);
    cursor: pointer;
}

.tool h3 {
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px white;
}

.tool p {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.tool-img {
    /* height: 200px; */
}