.coding {
    width: 100vw;
    height: calc(100vh - 71px);
    border: 0;
}

.workspace-details {
    color: #7675846e;
    padding-right: 7px;
    display: grid;
    align-items: flex-end;
    gap: .5em;
    grid-template-columns: auto auto auto;
    justify-content: stretch;
    user-select: none;
}