<div class="bgarea">
    <div class="container">
        <img src="/assets/images/ninja.png">
        <div class="dialog">
            <h1>This ninja coding session is about to end</h1>
            <p>This workspace is saved, but just to be safe<br />remember to commit all changes</p>
            <div class="buttons">
                <button class="btn-dark" (click)="exit()">Discard changes</button>
                <button class="btn-dark" (click)="cancel()">Wait... I need more time</button>
                <button class="btn-dark" (click)="exit()">I'm done</button>
            </div>
        </div>
    </div>
</div>