/* You can add global styles to this file, and also import other style files */

:root {
    --primary-clr: rgb(54, 166, 242);
    --secondary-clr: white;
    --avail-height: calc(100vh - 40px);
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    font-weight: 300;
}



h1 {
    color: rgb(54, 166, 242);
    text-shadow: 1px 1px black;
    font-size: 6rem;
}
h2 {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 2rem;
}
.btn {
    font-size: 2em;
    border-radius: 5px;
    padding: .5em 2em;
    border: 0;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}
.btn-primary {
    background:  rgb(54, 166, 242);
}

.logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

input {
    padding: .25em .5em;
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
    border: 0;
    color: white;
}

textarea {
    padding: .25em .5em;
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: .9em;
    align-self: stretch;
}

.large-text {
    font-size: 1.25em;
}

.align-top {
    align-self: flex-start;
}

.nav-button {
    margin: 0px;
    background: rgb(34,37,41);
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 7px 12px;
}

.nav-button:hover{
    background-color: rgb(74, 81, 90);
}

.btn-dark {
    margin: 0px;
    background: rgb(34,37,41);
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #191919a8;
}

.btn-dark:hover{
    background-color: rgb(74, 81, 90);
}

.btn-big {
    font-size: 2em;
}
